/.git
/dist
/node_modules
/test
/.github
/docs
/.claude
/.grok
/.impeccable
/.agents
/data
.dockerignore
.gitignore
.env*
main.db*
.DS_Store
Dockerfile
biome.json
*.md
docker-compose.yaml
bunfig.toml
LICENSE